circular--square {
    border-radius: 50%;
    height: 10px;
    max-width: 10px;
  }
  /*The style rule above is the shorthand for:*/
  .circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }


     
